/* Geral */
* {
  font-family: 'Hind', sans-serif;
  font-size: 14pt;
}
h1, h6 {
  padding: 0.5rem;
  font-family: 'Unica One', cursive;
}

h2, h3, h4, h5 {
  padding: 0.5rem;
  font-family: 'Unica One', cursive;
  text-align: center;
}



body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

input {
  max-width: 100ch;
}

a{
  text-decoration: none;
}

a:hover{
  color: rgb(214, 170, 255);
}


/* Header*/

.title-tsf{
  padding-top: 7rem;
  padding-bottom: 3rem;
}

.title-fix {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

/* Conteudo - cards*/

a.card-text,
a.nav-link {
  color: aliceblue;
  text-decoration: none;
}

a.card-text:hover,
a.nav-link:hover {
  color: rgb(204, 204, 204);
}

.card-text {
  max-width: 100ch;
  overflow: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title {
  font-size: 18pt;
}

.bi-arrow-up-right-square {
  color: aliceblue;
}


/* Artigos */

article a{
  text-decoration: none;
  color: indigo;
}

article img{
  max-width: 20rem;
}

/* form-group*/

.subs {
  background-color: rgb(247, 247, 247);
}


/* footer */

.bi-triangle-fill {
  color: aliceblue;
  font-size: 1rem;
}

.back-top-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}


#back-top {
  background: rgb(104, 104, 104);
  text-decoration: none;
  padding: 1rem 1rem;
}

#bottombar {
  background: rgb(34, 34, 34);
  color: white;
  padding: 1rem 1rem;
  margin-top: 0;
}

/* EXTRA */

.center {
  text-align: center;
  list-style-position: inside;
  }
  ol.center li {
  text-align: left;
  margin-left: 33%
  }
  
  .center-radio {
    text-align: left;
    list-style-position: inside;
    }
    input {
    text-align: left;
    margin-left: 10%
    }
